# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=puc_bookstore

# AWS S3 Configuration
S3_BUCKET_NAME=puc-bookstore-analytics-bucket

# Development Tools
USE_MOCK=false
